<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>老師登入頁面</title>
</head>
<body>
    <!-- page title 「Raise Your 🖐」 -->
    <!-- page subtitle 「For Teacher」 -->

    <!-- container for 選擇現有教室區域 -->
        <!-- title for 選擇現有教室區域 -->
        <!-- container for 可選擇的教室編號，3 欄 1 列 -->
        
    <!-- 水平分隔線 -->

    <!-- container for 建立新教室區域 -->
        <!-- title for 建立新教室區域 -->
        <!-- container for 建立新教室的功能 -->
            <!-- container 左方區塊 -->
                <!-- title 「隨機教室 ID」 -->
                <!-- 隨機教室 ID 展示 -->
            <!-- container 右方區塊 -->
                <!-- 學生名單輸入框 -->
        <!-- button 「新建教室」 -->
</body>
</html>