<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>老師教室頁面</title>
</head>

<body>
    <!-- navigator container -->
    <div>
        <!-- left navigator container -->
        <div id="titles-container">
            <!-- page title 「Raise Your 🖐」 -->
            <div id="title">Raise Your 🖐</div>
            <!-- page subtitle 「For Teacher」 -->
            <div id="subtitle">For Teacher</div>
        </div>
        <!-- right navigator container -->
            <!-- 班級代號區塊 -->
    </div>

    <!-- content container -->
        <!-- content nav container -->
            <!-- left content nav title -->
            <!-- right content nav hint container -->
                <!-- hints list -->
        <!-- queue status container -->
        <!-- close classroom button -->

</body>

</html>
